.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding: 5rem;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
}

.education-column .title {
  font-size: 2.5em;
  margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
  position: relative;
  border-left: 0.2rem solid var(--second-bg-color);
}
.education-column .education-box .education-box-animation {
  position: absolute;
  top: 0;
  left: -0.4rem;
  width: 0.6rem;
  height: 100%;
  background: var(--main-color);
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}
.education-box .education-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--main-color);
  border-radius: 50%;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}
.education-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  transition: 0.8s;
  z-index: -1;
}

.education-content .content:hover::before {
  width: 100%;
}
.education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}

.education-content .content .year i {
  padding-right: 0.5rem;
}
.education-content .content .year .certificate {
  text-decoration: none;
  margin-left: 0.5rem;
  color: var(--text-color);
  /* color: var(--main-color); */
}
.education-content .content h3 {
  font-size: 2rem;
}

.education-content .content p {
  font-size: 1.3rem;
  padding-top: 0.5rem;
}

@media (max-width: 1200px) {
}
@media (max-width: 991px) {
}
@media (max-width: 786px) {
}

@media (max-width: 462px) {
  .education {
    padding: 10rem 4% 5rem 5%;
  }
}
